* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 0px;
}

.container-1 {
    border-bottom: 2px solid crimson;
}

.navbar-brand {
    padding: 0;
    font-size: medium;
}

.fa-facebook:hover,
.fa-linkedin:hover {
    color: rgb(77, 77, 255);
}

.banner {
    background-image: url(https://c.wallhere.com/photos/43/3b/black_dark_abstract_3D_shards_glass_red-22194.jpg!d);
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 5px 5px 0 5px;
    background-size: cover;
    border-top: 1px solid crimson;
    border-left: 1px solid crimson;
    border-right: 1px solid crimson;
}

.about-us {
    border-bottom: 1px solid crimson;
    border-left: 1px solid crimson;
    border-right: 1px solid crimson;
    margin: 0 5px;
    height: 250px;
    padding: 5px 5px;
}

.profile,
.information {
    border: 1px solid blue;
    height: 190px;
}