* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 0px;
}

.container-1 {
    border-bottom: 2px solid crimson;
}

.navbar-brand {
    padding: 0;
    font-size: medium;
}

.navbar-toggler {
    margin-bottom: 5px;
}

.fa-facebook:hover,
.fa-linkedin:hover {
    color: rgb(77, 77, 255);
}

.banner {
    background-image: url(https://c.wallhere.com/photos/43/3b/black_dark_abstract_3D_shards_glass_red-22194.jpg!d);
    height: 250px;
    margin: 5px 5px 0 5px;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 2px solid crimson;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
}

.about-us {
    border-bottom: 2px solid crimson;
    border-left: 2px solid crimson;
    border-right: 2px solid crimson;
    margin: 0 5px 20px 5px;
    height: auto;
    padding: 5px 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.profile {
    margin: 5px 70px 10px 70px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.profile,
.information {
    color: black;
    height: auto;
    padding: 5px;
}

.avatar {
    margin-top: 10px;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.name p {
    text-align: center;
    margin: 2px 0;
}

.experience,
.education {
    height: auto;
    width: auto;
    border: 2px solid gray;
    margin: 0px 5px 20px 5px;
    border-radius: 20px;
    padding: 5px;
}

@media (min-width: 768px) {
    .contenedor {
        display: flex;
        justify-content: center;
    }
    .profile {
        display: flex;
        margin: 0;
        width: 20%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .information {
        width: 80%;
        border-left: 5px double gray;
    }
}